{
  "db_name": "registry",
  "engine": "couch_bt_engine",
  "doc_count": 3192637,
  "doc_del_count": 333,
  "update_seq": 28615544,
  "purge_seq": 0,
  "compact_running": false,
  "sizes": {
    "active": 87021972446,
    "external": 207613276625,
    "file": 89100968176
  },
  "disk_size": 89100968176,
  "data_size": 87021972446,
  "other": {
    "data_size": 207613276625
  },
  "instance_start_time": "1666601342233630",
  "disk_format_version": 7,
  "committed_update_seq": 28615544,
  "compacted_seq": 28585666,
  "uuid": "964c127ddcbbd59982db296a0f9e8a56"
}